body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u607 {
  position:absolute;
  left:51px;
  top:36px;
  width:169px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u608 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:1337px;
}
#u609 {
  position:absolute;
  left:51px;
  top:160px;
  width:680px;
  height:1337px;
}
#u610 {
  position:absolute;
  left:2px;
  top:660px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
