body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1974px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4826 {
  position:absolute;
  left:50px;
  top:70px;
  width:375px;
  height:667px;
}
#u4827 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4828 {
  position:absolute;
  left:50px;
  top:70px;
  width:375px;
  height:40px;
}
#u4829 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4830 {
  position:absolute;
  left:63px;
  top:86px;
  width:8px;
  height:8px;
}
#u4831 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4832 {
  position:absolute;
  left:73px;
  top:86px;
  width:8px;
  height:8px;
}
#u4833 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4834 {
  position:absolute;
  left:83px;
  top:86px;
  width:8px;
  height:8px;
}
#u4835 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4836 {
  position:absolute;
  left:93px;
  top:86px;
  width:8px;
  height:8px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4838 {
  position:absolute;
  left:103px;
  top:86px;
  width:8px;
  height:8px;
}
#u4839 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4840 {
  position:absolute;
  left:122px;
  top:81px;
  width:22px;
  height:18px;
  font-size:16px;
}
#u4841 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4842 {
  position:absolute;
  left:208px;
  top:81px;
  width:60px;
  height:18px;
  font-size:16px;
}
#u4843 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u4844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4845 {
  position:absolute;
  left:387px;
  top:84px;
  width:30px;
  height:13px;
}
#u4846 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4847 {
  position:absolute;
  left:389px;
  top:86px;
  width:15px;
  height:9px;
}
#u4848 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4849 {
  position:absolute;
  left:416px;
  top:88px;
  width:3px;
  height:5px;
}
#u4850 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4851 {
  position:absolute;
  left:351px;
  top:82px;
  width:33px;
  height:18px;
  font-size:16px;
}
#u4852 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4853 {
  position:absolute;
  left:50px;
  top:110px;
  width:375px;
  height:88px;
}
#u4854 {
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4855 {
  position:absolute;
  left:50px;
  top:134px;
  width:40px;
  height:40px;
}
#u4856 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4857 {
  position:absolute;
  left:217px;
  top:139px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4858 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4859 {
  position:absolute;
  left:50px;
  top:248px;
  width:375px;
  height:1px;
}
#u4860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4861 {
  position:absolute;
  left:50px;
  top:298px;
  width:375px;
  height:1px;
}
#u4862 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4863 {
  position:absolute;
  left:50px;
  top:348px;
  width:375px;
  height:1px;
}
#u4864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4865 {
  position:absolute;
  left:50px;
  top:398px;
  width:375px;
  height:1px;
}
#u4866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4867 {
  position:absolute;
  left:67px;
  top:213px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u4868 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4869 {
  position:absolute;
  left:385px;
  top:213px;
  width:25px;
  height:25px;
}
#u4870 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4871 {
  position:absolute;
  left:67px;
  top:261px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4873 {
  position:absolute;
  left:385px;
  top:261px;
  width:25px;
  height:25px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4875 {
  position:absolute;
  left:67px;
  top:313px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4877 {
  position:absolute;
  left:385px;
  top:313px;
  width:25px;
  height:25px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4879 {
  position:absolute;
  left:67px;
  top:363px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4881 {
  position:absolute;
  left:385px;
  top:363px;
  width:25px;
  height:25px;
}
#u4882 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4883 {
  position:absolute;
  left:88px;
  top:449px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u4885 {
  position:absolute;
  left:424px;
  top:217px;
  width:0px;
  height:0px;
  color:#3399CC;
}
#u4885_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u4885_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:8px;
}
#u4885_seg2 {
  position:absolute;
  left:48px;
  top:-75px;
  width:8px;
  height:79px;
}
#u4885_seg3 {
  position:absolute;
  left:48px;
  top:-75px;
  width:42px;
  height:8px;
}
#u4885_seg4 {
  position:absolute;
  left:77px;
  top:-81px;
  width:20px;
  height:20px;
}
#u4886 {
  position:absolute;
  left:2px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4887 {
  position:absolute;
  left:514px;
  top:136px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4888 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4889 {
  position:absolute;
  left:574px;
  top:136px;
  width:407px;
  height:40px;
}
#u4890 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 181, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4891 {
  position:absolute;
  left:514px;
  top:202px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4892 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4893 {
  position:absolute;
  left:574px;
  top:202px;
  width:407px;
  height:80px;
}
#u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u4895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4895 {
  position:absolute;
  left:50px;
  top:23px;
  width:101px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4896 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4897 {
  position:absolute;
  left:1027px;
  top:23px;
  width:137px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4900 {
  position:absolute;
  left:1027px;
  top:70px;
  width:375px;
  height:667px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4902 {
  position:absolute;
  left:1027px;
  top:70px;
  width:375px;
  height:40px;
}
#u4903 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4904 {
  position:absolute;
  left:1040px;
  top:86px;
  width:8px;
  height:8px;
}
#u4905 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4906 {
  position:absolute;
  left:1050px;
  top:86px;
  width:8px;
  height:8px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4908 {
  position:absolute;
  left:1060px;
  top:86px;
  width:8px;
  height:8px;
}
#u4909 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4910 {
  position:absolute;
  left:1070px;
  top:86px;
  width:8px;
  height:8px;
}
#u4911 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4912 {
  position:absolute;
  left:1080px;
  top:86px;
  width:8px;
  height:8px;
}
#u4913 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4914 {
  position:absolute;
  left:1099px;
  top:81px;
  width:22px;
  height:18px;
  font-size:16px;
}
#u4915 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4916 {
  position:absolute;
  left:1185px;
  top:81px;
  width:60px;
  height:18px;
  font-size:16px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4919 {
  position:absolute;
  left:1364px;
  top:84px;
  width:30px;
  height:13px;
}
#u4920 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4921 {
  position:absolute;
  left:1366px;
  top:86px;
  width:15px;
  height:9px;
}
#u4922 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4923 {
  position:absolute;
  left:1393px;
  top:88px;
  width:3px;
  height:5px;
}
#u4924 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4925 {
  position:absolute;
  left:1328px;
  top:82px;
  width:33px;
  height:18px;
  font-size:16px;
}
#u4926 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4927 {
  position:absolute;
  left:1027px;
  top:110px;
  width:375px;
  height:88px;
}
#u4928 {
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4929 {
  position:absolute;
  left:1027px;
  top:134px;
  width:40px;
  height:40px;
}
#u4930 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4931 {
  position:absolute;
  left:1194px;
  top:139px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4932 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4933 {
  position:absolute;
  left:1065px;
  top:348px;
  width:300px;
  height:170px;
}
#u4934 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4935 {
  position:absolute;
  left:1179px;
  top:363px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4936 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4937 {
  position:absolute;
  left:1151px;
  top:415px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4939 {
  position:absolute;
  left:1065px;
  top:469px;
  width:300px;
  height:1px;
}
#u4940 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
}
#u4941 {
  position:absolute;
  left:1215px;
  top:469px;
  width:1px;
  height:49px;
}
#u4942 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4943 {
  position:absolute;
  left:1124px;
  top:483px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#3399CC;
}
#u4945 {
  position:absolute;
  left:1270px;
  top:483px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#3399CC;
}
#u4946 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4947 {
  position:absolute;
  left:1402px;
  top:387px;
  width:0px;
  height:0px;
  color:#3399CC;
}
#u4947_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u4947_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:118px;
  height:8px;
}
#u4947_seg2 {
  position:absolute;
  left:101px;
  top:-8px;
  width:20px;
  height:20px;
}
#u4948 {
  position:absolute;
  left:6px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4949 {
  position:absolute;
  left:1516px;
  top:379px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4950 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4951 {
  position:absolute;
  left:1576px;
  top:379px;
  width:398px;
  height:20px;
}
#u4952 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 181, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4953 {
  position:absolute;
  left:1516px;
  top:409px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4954 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4955 {
  position:absolute;
  left:1576px;
  top:409px;
  width:398px;
  height:40px;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
